<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="3.0.20820.0" targetFramework="net40" />
  <package id="CommonServiceLocator.Silverlight" version="1.0" targetFramework="net40" />
  <package id="CsvHelper" version="2.2.2" targetFramework="net40" />
  <package id="DirectShowLib-2005" version="2.1.0.0" targetFramework="net40" />
  <package id="DocumentFormat.OpenXml" version="1.0" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc.All_Sitefinity" version="4.0.0.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc_Sitefinity" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor_Sitefinity" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Helpers_Sitefinity" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Http_Sitefinity" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.SelfHost_Sitefinity" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.WebHost_Sitefinity" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages_Sitefinity" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net40" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40" />
  <package id="Microsoft.Http" version="1.0.0.0" targetFramework="net40" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.Net.Http.All_Sitefinity" version="1.0.0.0" targetFramework="net40" />
  <package id="Microsoft.Net.Http.Formatting" version="1.0.0.0" targetFramework="net40" />
  <package id="Microsoft.SharePoint.Client" version="15.0.4569.1000" targetFramework="net40" />
  <package id="Microsoft.SqlServer.Types" version="10.50.1600.1" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="MySql.Data" version="6.6.6" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.2" targetFramework="net40" />
  <package id="payflow_dotNET" version="4.3.1.0" targetFramework="net40" />
  <package id="ServiceStack.Client.Signed" version="4.0.36" targetFramework="net40" />
  <package id="ServiceStack.Common.Signed" version="4.0.36" targetFramework="net40" />
  <package id="ServiceStack.Interfaces" version="4.0.36" targetFramework="net40" />
  <package id="ServiceStack.Signed" version="4.0.36" targetFramework="net40" />
  <package id="ServiceStack.Text.Signed" version="4.0.36" targetFramework="net40" />
  <package id="Sitefinity.RazorEngine" version="3.0.8.0" targetFramework="net40" />
  <package id="Sitefinity.RedDog.Search" version="0.5.1.6" targetFramework="net40" />
  <package id="Sitefinity.Windows.Azure" version="2.0.0.1" targetFramework="net40" />
  <package id="System.Windows" version="5.0.61118.0" targetFramework="net40" />
  <package id="Telerik.Centaur.All" version="2013.1.415.40" targetFramework="net40" />
  <package id="Telerik.Everlive.Client" version="1.0.0.0" targetFramework="net40" />
  <package id="Telerik.Everlive.Sdk" version="2014.7.30.1" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Gallio_MbUnit" version="3.4.11.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.MigrationContracts" version="1.0.0.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Octopus.Validation" version="2015.1.225.1" targetFramework="net40" />
  <package id="Telerik.Sitefinity.OpenAccess" version="2015.1.225.1" targetFramework="net40" />
  <package id="Telerik.Sitefinity.OpenAccess.35.Extensions" version="2015.1.225.1" targetFramework="net40" />
  <package id="Telerik.Sitefinity.OpenAccess.40.Extensions" version="2015.1.225.1" targetFramework="net40" />
  <package id="Telerik.Sitefinity.OpenAccess.All" version="2015.1.225.1" targetFramework="net40" />
  <package id="Telerik.Sitefinity.OpenAccess.Config" version="1.0.0.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.OpenAccess.DataAdapter" version="2015.1.225.1" targetFramework="net40" />
  <package id="Telerik.Sitefinity.OpenAccess.DataAdapter.Everlive" version="2015.1.225.1" targetFramework="net40" />
  <package id="Telerik.Sitefinity.OpenAccess.DataAdapter.OpenAccess" version="2015.1.225.1" targetFramework="net40" />
  <package id="Telerik.Sitefinity.OpenAccess.DataAdapter.SalesForce" version="2015.1.225.1" targetFramework="net40" />
  <package id="Telerik.Sitefinity.OpenAccess.DataAdapter.SharePoint" version="2015.1.225.1" targetFramework="net40" />
  <package id="Telerik.Sitefinity.OpenAccess.DataSource.SharePoint" version="2015.1.225.1" targetFramework="net40" />
  <package id="Telerik.Sitefinity.OpenAccess.DataSource.SyncDB" version="2015.1.225.1" targetFramework="net40" />
  <package id="Telerik.Sitefinity.OpenAccess.Octopus.All" version="2015.1.225.1" targetFramework="net40" />
  <package id="Telerik.Sitefinity.OpenAccess.Runtime" version="2015.1.225.1" targetFramework="net40" />
  <package id="Telerik.Sitefinity.OpenAccess.Sync" version="2015.1.225.1" targetFramework="net40" />
  <package id="Telerik.Sitefinity.OpenAccess.Web" version="2015.1.225.1" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Reporting" version="7.1.13.612" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Reporting.All" version="7.1.13.612" targetFramework="net40" />
  <package id="Telerik.Sitefinity.TestArrangementService.Core" version="1.0.2" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Twitterizer" version="2.4.1" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Web.UI" version="2015.1.225.40" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Web.UI.All" version="2015.1.225.40" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Web.UI.Design" version="2015.1.225.40" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Web.UI.Skins" version="2015.1.225.40" targetFramework="net40" />
  <package id="Telerik.Sitefinity.WebTestRunner.Server" version="1.0.0.2" targetFramework="net40" />
  <package id="Telerik.Tfis.Client" version="1.0.0.0" targetFramework="net40" />
  <package id="Telerik.Windows.Controls" version="2013.1.415.40" targetFramework="net40" />
  <package id="Telerik.Windows.Data" version="2013.1.415.40" targetFramework="net40" />
  <package id="Telerik.Windows.Documents" version="2013.1.415.40" targetFramework="net40" />
  <package id="Telerik.Windows.Documents.Core" version="2013.1.415.40" targetFramework="net40" />
  <package id="Telerik.Windows.Documents.Fixed" version="2013.1.415.40" targetFramework="net40" />
  <package id="Telerik.Windows.Documents.FormatProviders.Html" version="2013.1.415.40" targetFramework="net40" />
  <package id="Telerik.Windows.Documents.FormatProviders.OpenXml" version="2013.1.415.40" targetFramework="net40" />
  <package id="Telerik.Windows.Documents.FormatProviders.Rtf" version="2013.1.415.40" targetFramework="net40" />
  <package id="Telerik.Windows.RadUploadHandler" version="2012.3.1129.40" targetFramework="net40" />
  <package id="Telerik.Windows.Zip" version="2013.1.415.40" targetFramework="net40" />
</packages>